/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
nav,
main,
footer {
  max-width: 75rem;
  margin: auto;
}
@media only screen and (min-width: 825px) {
     nav ul, ul.open{
        display: flex;
        justify-content: center;
         gap: 1em;
        flex-wrap: wrap;
    }
    nav ul a{
        display: block;
        padding:1rem 1.5rem;
    }

} /* end of media query */
header {
    padding: 0.8rem 1.5%;
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#BEC4AA;
  }
.headerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem;
}
nav ul{
    margin: 10em;
    padding: 0;
}
nav li{
    list-style-type: none;
}
nav a{
    display: block;
    color: black;
    background-color: #BEC4AA;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.8rem 2%;
}
a:hover{
    background-color: #eeeeee;
}

footer {
  padding: 0.8rem;
  text-align: center;
  background-color: #BEC4AA;
  clear: both;
}
