/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//-------------max-width----------//
header, nav, main, footer{
  max-width: 75rem;
  margin: auto;
}
//-------------body-----------//
body{
  display: grid;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

//------------header------------//
div#headerWrapper{
  grid-row-start: 1;
  background-color: $yellow;
  border-top: solid 9px $red;
}//end wrapper
header{
  display: grid;
  grid-template-columns: 100px auto 44px;
  padding: 0.8rem 2vw;
  h1{
    padding-left: 1rem;
    align-self: center;
  }//end h1
  div#phone{
    display: none;
  }//end phone
}//end header

//---------nav------------//
div#navWrapper{
  grid-row-start: 4;
}//end nav wrapper
div#hamburger a, div#closex a {
  display: block;
  color: black;
  padding: .8rem 2vw;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: right;
}//end anchors
div#closex a{
  margin-right: 2vw;
}//end closex
nav{
  height: 100vh;
  ul{
    border-bottom: 1px solod #eee;
  }//end ul
  ul li{
    border-top: solid 1px #eee;
  }//end li
  ul li a{
    display: block;
    color: black;
    padding: .8rem 2vw;
    text-decoration: none;
    text-align: right;
  }//end a
  ul li a:hover{
    color: $red;
  }
  ul li.active{
    background-color: lighten($yellow, 20%);
  }
}//end nav


//--------columns----------// 
div.flexed{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@for $i from 0 through 12{
  $w:($i / 12) * 100%;
  .small-#{$i} {flex-basis: calc($w - 4%);}
}//end loop

//--------main---------//
main{
  .lawyerCard{
    background-color: lighten($color: $yellow, $amount: 30);
    margin: 2vw 2%;
    text-align: center;
    h3{
      padding: 1rem 0;
    }
    .lawyerPic{
      width: 100%;
      margin: 0;
      img{
        width: 100%;
        height: auto;
      }//end img
    }//end lawyerPic
    button{
      padding: 0.5rem 1rem;
      margin: 1rem 0;
    }//end button
  }//end lawyer card
  .lawyerButtons{
    padding: 1rem;
    margin: 2%;
   }//end call to action
   .blogPost{
    background-color: #999;
    margin: 2%;
    figure{
      width: 100%;
      margin: 0;
    }//end figure
    figure img{
      width: 100%;
      height: auto;
    }//end img
    h3{
      padding: 0.8rem;
    }
    p{
      padding: 0.8rem 2vw;
    }
    h4{
      text-align: center;
      background-color: #eee;
      padding: 2vw 0;
    }
   }//end blog post
}//end main

//---------footer---------//
footer{
  background-color: $yellow;
  text-align: center;
  i{
    padding: 0.8rem 4vw;
    font-size: 2rem;
  }
}