/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

//----------HEADER----------//
header{
  text-align: center;
  padding: 0.8rem 0;
  background-color: $primaryColor;
  color: white;
}//end header

//----------MAIN----------//


//----------FOOTER----------//
footer{
  text-align: center;
  padding: 0.8rem 0;
  background-color: $primaryColor;
}//end footer
