/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

//----------HEADER----------//
header{
  text-align: center;
  padding: 0.8rem 0;
  background-color: $primaryColor;
  color: white;
}//end header

//----------MAIN----------//
main{
  background-color: #F2D8CE;
}
div#weatherforecast{
  display: grid;
  grid-template-columns: 1fr;
  div{
    text-align: center;
    background-color: $secondaryColor;
    margin: 1rem 1.5rem;
    border-radius: 10px;
  span{
    font-size: 1.5rem;
    display: block;
    padding: 0.8rem 0;
    color: $thirdColor;
  }
  }//end div
}//end id parent

//----------FOOTER----------//
footer{
  text-align: center;
  padding: 0.8rem 0;
  background-color: $primaryColor;
  color: white;
}//end footer
