//-------------page wrapper----------//
div#pageWrapper{
    grid-template-areas: 
      "header header"
      "navigation main"
      "footer footer";
      grid-template-columns: 150px auto;
  }

  #hamburger{
    display: none;
  }
  nav{
    height: auto;
    a.navJump{
      display: none;
    }//end x
  }

main{
  div.offset{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}