#navWrapper{
    background-color: $primaryColor;
}
nav{
    button{
        display: none;
    }
    background-color: $primaryColor;
    ul{
        display: flex;
        text-decoration: none;
        list-style-type: none;
    }//end ul
    ul li a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 0.8rem 2rem;
    }//end a
    ul li a:hover{
        background-color: rgba(0,0,0,0.25);
    }//end hover
    #primaryNav li.parent > a:after {
        content: "\25BC";
        font-size: .65rem;
        float: right;
        padding: 0.2rem 0.2rem 0 0;
    }//end triangle
    ul li ul{
        display: flex;
        flex-direction: column;
        background-color: darken($primaryColor, 5%);
        width: 14rem;
        position: absolute;
        left: -999rem;
        z-index: 99;
    }//end child menu items
    ul li:hover ul{
        left: auto;
        margin-left: 0;
    }
    li.active a{
        background-color: darken($primaryColor, 5%) ;
    }
}//end nav
main{
    div.cards{
        grid-template-columns: 1fr 1fr;
    }
}
