nav{
    ul{
    display: flex;
    justify-content: space-between;
}
    a{
    display: block;
    padding:0.83rem 2rem;
}
}//end nav

header p{
    display: block;
}

.pic {
    float: right; 
    width: 48%; 
    margin-left: 2%;
    padding-bottom: .5rem;
}